.promo-wrapper {
	display: flex;
	align-items: center;
	width: 100%;

	@media (max-width: 978px) {
		flex-direction: column-reverse;
	}

	&__content {
		lost-column: 6/12;

		@media (max-width: 978px) {
			lost-column: 12/12;
			text-align: center;
		}
	}

	&__hero {
		lost-column: 6/12;

		@media (max-width: 978px) {
			lost-column: 12/12;
			margin-bottom: 3rem;
		}

		.promo-hero {
			margin: 0 auto;
		}
	}
}

.promo-hero {
	width: 40rem;
	height: 40rem;
	border: 10px solid rgba(0, 0, 0, 0.8);
	border-radius: 50%;

	&__image {
		border-radius: 50%;
		border: 10px solid rgba(0, 0, 0, 0.7);
	}
}

.promo-content {
	&__label {
		margin-bottom: 1.6rem;
	}

	&__name {
		margin-bottom: 1rem;
	}

	&__post {
		margin-bottom: 3rem;
	}

	&__contacts {
		.list__item {
			font-weight: 300;
		}
	}
}