extends ../includes/layout

block page-title

block content
    .floor.floor--screen-height.floor--type-promo
        .floor__inner
            .promo-wrapper
                .promo-wrapper__image
                .promo-wrapper__content

