extends ../includes/layout

block page-title

block content
    .floor.floor--screen-height.floor--type-promo
        .floor__inner
            .promo-wrapper
                .promo-wrapper__content
                    .promo-content
                        .promo-content__label
                            .label.label--from-bottom-left Hello I'm
                        .promo-content__name
                            h1 Igor Lesnevskiy
                        .promo-content__post
                            h2 Frontend Developer
                        .promo-content__contacts
                            ul.list
                                li.list__item
                                    .text-with-icon
                                        i.webfont-icon.webfont-icon--close-envelope
                                        .text
                                            a(href = "mailto:lesnevskii.igor@gmail.com") lesnevskii.igor@gmail.com
                                li.list__item
                                    .text-with-icon
                                        i.webfont-icon.webfont-icon--pointer
                                        .text Moscow, Russia
                        .promo-content__socials
                            ul.list.list--social
                                li.list__item
                                    a.social-link(href = '#')
                                        i.webfont-icon.webfont-icon--social--fb
                                li.list__item
                                    a.social-link(href = '#')
                                        i.webfont-icon.webfont-icon--social--github
                                li.list__item
                                    a.social-link(href = '#')
                                        i.webfont-icon.webfont-icon--social--medium
                .promo-wrapper__hero
                    .promo-hero
                        img.promo-hero__image(src= "/images/hero-2.jpg", title = 'Igor Lesnevskiy - Frontend Developer')




