// Цвета
//TODO цикл для генерации атомарных классов

$color--black: #000000;
$color--onyx: #111111;
$color--dark-jungle: #222222;
$color--mine-shaft: #333333;
$color--tundora: #444444;
$color--davys-grey: #555555;
$color--ironside-gray: #666666;
$color--tapa-gray: #777777;
$color--taupe-gray: #888888;
$color--mountain-mist: #999999;
$color--dark-gray: #aaaaaa;
$color--gray: #a4a4a4;
$color--celeste: #cccccc;
$color--light-gray: #dddddd;
$color--eallery: #eeeeee;
$color--white: #ffffff;
$color--navy-blue: #0079c1;
$color--prussian-blue: #00426a;
$color--harley-davidson-orange: #D21D1D;
$color--whisper: #ececec;
$color--error: #e24831;


.color-black {
	color: $color--black;
}

.color-onyx {
	color: $color--onyx;
}

.color-dark-jungle {
	color: $color--dark-jungle;
}

.color-mine-shaft {
	color: $color--mine-shaft;
}

.color-tundora {
	color: $color--tundora;
}

.color-davys-grey {
	color: $color--davys-grey;
}

.color-ironside-gray {
	color: $color--ironside-gray;
}

.color-tapa-gray {
	color: $color--tapa-gray;
}

.color-taupe-gray {
	color: $color--taupe-gray;
}

.color-mountain-mist {
	color: $color--mountain-mist;
}

.color-dark-gray {
	color: $color--dark-gray;
}

.color-gray {
	color: $color--gray;
}

.color-celeste {
	color: $color--celeste;
}

.color-light-gray {
	color: $color--light-gray;
}

.color-eallery {
	color: $color--eallery;
}

.color-white {
	color: $color--white;
}

.color-navy-blue {
	color: $color--navy-blue;
}

.color-prussian-blue {
	color: $color--prussian-blue;
}

.color-error {
	color: $color--error;
}

.bg-color-black {
	background-color: $color--black;
}

.bg-color-onyx {
	background-color: $color--onyx;
}

.bg-color-dark-jungle {
	background-color: $color--dark-jungle;
}

.bg-color-mine-shaft {
	background-color: $color--mine-shaft;
}

.bg-color-tundora {
	background-color: $color--tundora;
}

.bg-color-davys-grey {
	background-color: $color--davys-grey;
}

.bg-color-ironside-gray {
	background-color: $color--ironside-gray;
}

.bg-color-tapa-gray {
	background-color: $color--tapa-gray;
}

.bg-color-taupe-gray {
	background-color: $color--taupe-gray;
}

.bg-color-mountain-mist {
	background-color: $color--mountain-mist;
}

.bg-color-dark-gray {
	background-color: $color--dark-gray;
}

.bg-color-gray {
	background-color: $color--gray;
}

.bg-color-celeste {
	background-color: $color--celeste;
}

.bg-color-light-gray {
	background-color: $color--light-gray;
}

.bg-color-eallery {
	background-color: $color--eallery;
}

.bg-color-white {
	background-color: $color--white;
}

.bg-color-navy-blue {
	background-color: $color--navy-blue;
}

.bg-color-prussian-blue {
	background-color: $color--prussian-blue;
}

.bg-color-error {
	background-color: $color--error;
}
