///* ----------------------------------- *\
//            Roboto
//\* ----------------------------------- */
@font-face {
	font-family: 'Roboto';
	src: local('O'),
	url('/fonts/Roboto/regular/roboto-light.woff') format('woff');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Roboto';
	src: local('O'),
		url('/fonts/Roboto/regular/roboto-regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto';
	src: local('O'),
		url('/fonts/Roboto/medium/roboto-medium.woff') format('woff');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'Roboto';
	src: local('O'),
		url('/fonts/Roboto/bold/roboto-bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
}
