.preloader {
	display: inline-block;
	width: 6.4rem;
	height: 6.4rem;

	&:after {
		content: " ";
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: 0.5rem solid $color--navy-blue;
		border-color: $color--navy-blue transparent $color--navy-blue transparent;
		animation: lds-dual-ring 1.2s linear infinite;
	}
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}