.social-link {
	width: 4rem;
	height: 4rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	border-radius: 0.5rem;
	text-decoration: none;
	transition: background-color $animation-speed linear;

	&:hover {
		background: $color--navy-blue;
		text-decoration: none;
	}
}